[Desktop Entry]
Version=1.0
Type=Application
Name=WARPture
GenericName=WARP Manager
Comment=Cloudflare WARP GUI with App Split Tunneling
Exec=warpture
Icon=warpture
StartupWMClass=WARPture
Categories=Network;Security;Utility;
Keywords=vpn;warp;cloudflare;tunnel;privacy;
StartupNotify=true
